{% extends 'base.html' %}

{% block title %} Restaurant {% endblock %}

{% block sidebar %}
    <div class="text-center">
      <img class="img-circle" src="{{  MEDIA_URL }} {{ request.user.restaurant.logo }}" width="70" height="70" alt="User Logo">
    <br>
    <br>
    <h4>Hi, {{ request.user.get_full_name() }}</h4>
    <h5>{{ request.user.restaurant.name }}</h5>
    </div>
  

    <a href="{% url 'restaurant-account' %}">Account</a>
    -
    <a href="{% url 'restaurant-meal' %}">Meal</a>
    -
    <a href="{% url 'restaurant-order' %}">Order</a>
    -
    <a href="{% url 'restaurant-report' %}">Report</a>

{% endblock %}
